* {
    padding: 0;
    margin: 0;
}

.outer-calc {
    margin: 100px auto;
    height: 500px;
    width: 400px;
    padding: 15px;
    border: 1px solid black;
}

.inner-calc {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.display {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 25%;
    margin-top: 25px;
    padding-right: 8px;
    border: 1px solid black;
    font-size: 50px;
}

.digits {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.top-digits-container {
    display: flex;
    flex-grow: 1;
    height: 20%;
    width: 100%;
}

.top-digits {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    font-weight: bold;
    font-size: 25px;
}

.bottom-digits {
    display: flex;
    height: 80%;
}

.bottom-left-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
}

.first-bottom-left-digits {
    display: flex;
    flex-grow: 1;
  
}

.second-bottom-left-digits {
    display: flex;
    flex-grow: 1;
    
}

.third-bottom-left-digits {
    display: flex;
    flex-grow: 1;
}

.fourth-bottom-left-digits {
    display: flex;
    flex-grow: 1;
    
}

.bottom-left-digits {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid black;
}

.equal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    flex-grow: 1;
    border: 1px solid black;
}